<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 결과</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .footer-button {
            bottom: 20px;
            right: 50%;
            transform: translateX(50%);
            z-index: 1000;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>검색 결과</h1></br>
        {% if context %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>내역</th>
                    <th>수입</th>
                    <th>지출</th>
                </tr>
            </thead>
            <tbody>
                {% for item in context %}
                <tr>
                    <td>{{ item.month }}월 {{ item.day }}일</td>
                    <td>{{ item.comment }}</td>
                    <td>{{ item.income }}</td>
                    <td>{{ item.expense }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>결과가 없습니다.</p>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <div class="footer-button">
        <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">홈으로 돌아가기</a>
    </div>
</body>
</html>
